<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
        [opened]="!(isHandset | async)!.matches">
        <mat-toolbar color="primary">SB Admin Marerial</mat-toolbar>
        <mat-nav-list>
        
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/cadastrar']">
                <mat-icon class="sidenav-icon">person</mat-icon> Cadastrar
            </a>
            <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/listar']">
                <mat-icon class="sidenav-icon">list</mat-icon> Listar
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>