table {
    width: 100%;
  }

img{
  margin-top: 5px;
  height: 110px;
  border-radius: 55px;
  border: solid 2px #39004d;
}

.btn{
  background-color: #fff;
  border: none;
  color: #2a2a29;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  
}

.btn:hover {
  background-color: #f5f5ef ;
}